<div class="container text-center">
  <div class="row justify-content-between align-items-center">
    <div class="col-lg-6">
      <div class="jumbotron bg-white text-left">
        <h2 class="display-3 mb-5">add your comment</h2>
        <br>
  </div>
</div>



    <div class="col-md-6 jumbotron bg-white text-middle">
        <div class="row">
            <div class="comment-form"><form class="comment-form">
                <div class="form-group">
                        <label >add comment</label>
                        <input class="form-control" id="comment">
                        <br> 
                        <p id="commentL" style ="display: none" class="war"> you must add a budget limit</p>
                        
                    <a type="submit" class="btn btn-success" href="/post">Next</a> 
                </div></form>
               
            </div>
        </div>
    </div>
</div>

<script src="/js/comment.js"></script>